.container {
  background-color: rgb(9, 9, 105);
  /* display: flex;
  height: 80vh;
  width: 100vw; */
  width: 100%;
}
.container img {
  display: inline;
}
a {
  color: white;
}
.heads {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.q {
  color: rgb(34, 34, 161);
}
.urlInput {
  width: 30%;
  height: 5vh;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(9, 9, 105);

  height: 50vh;
  margin-top: 20px;
}

.card {
  margin-right: 20px;
}
.card img {
  width: 10vw;
  height: 20vh;
  margin: auto;
}
.card-body a {
  border: 1px solid rgb(9, 9, 105);
  background-color: white;
  color: rgb(9, 9, 105);
  margin: auto;
}
.card-title {
  text-align: center;
}
.card-text {
  text-align: center;
}
